/***** Document wide schemes *****/
:root {
  --row_height: 44px;
  --content_height: 40px; /* 2px top & bottom offset to show border when dragging */
  --content_padding: 2px; /* padding within the time column and appointment column */
  --icon_width: 34px;
  --edge_radius: 5px;
}

/***** General themes *****/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  min-width: 320px;   /* Locks in min width for smallest visually accepting screens, shrinks below this point */
  padding-bottom: 30px;

  /* Prevents text selection, fixes issues with drag and drop */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/******  header settings  ******/
/*  Formatting for the nav bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  padding: 0px 15px 0px 15px;
  z-index: 100;
  display: none;
  flex-direction: row;
  color: #FFF;
}


/***** Open settings button *****/
.selectors {
  cursor:pointer;
  color: inherit;
  padding: 0 10px 0 10px;
  font-size: 30px;
}

/***** Introduction themes *****/
.icon-head {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #343a40;
  height: 400px;
}

/***** Hour row themes *****/
.container {
  margin-top: 60px;
}

.hour_block {
  white-space: pre-wrap;
  height: var(--row_height);
  border: 2px solid white;
}

.col {
  padding: 0;
}


.hour_block.new_spot {
  border: 2px dashed #000000;
  border-top-right-radius: var(--edge_radius);
  border-bottom-right-radius: var(--edge_radius);
}

/***** Time column *****/
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
  border-right: 1px solid black;
  text-align: right;
  padding-top: var(--content_padding);
  padding-right: var(--content_padding);
  width: 60px;
}

/***** Appointment content column *****/
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000;
  padding: var(--content_padding);
  width: 100%;
  height: 100%;
}

/* Background colors depending on state of the row */
.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.changed {
  background: #ffa500;
}

/***** Icon columns *****/
.icons {
  height: var(--content_height);
  width: var(--icon_width);
  margin-left: 0;
  margin-right: 0;
  border-left: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dragBtn {
  background-color: #7e7e7e;
}

.saveBtn {
  border-top-right-radius: var(--edge_radius);
  border-bottom-right-radius: var(--edge_radius);
  background-color: #06AED5;
}

/***** Settings modal themes *****/
/* Transparent overlay */
.modal {
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  display: block;
  margin: 0;
  padding: 20px;
}

.close {
  font-size: 30px;
  cursor: pointer;
}

td {
  padding: 8px 10px;  /* Spacing between label and options */
}

/***** Adjustments for larger screens *****/
@media (min-width: 586px) {

  /* Increases the content sizes for larger screens */
  :root {
    --row_height: 80px;
    --content_height: 76px;
    --content_padding: 10px;
    --edge_radius: 15px;
  }

  /* Provides some space around the modal*/
  .modal-content {
    margin: 15% auto;
    width: 80%;
  }

  /* Provides the save button hover effect for larger screens */
  .icons:hover {
    font-size: 30px;
    transition: all .3s ease-in-out;
  }
}